.user-details-field {
  text-align: center;
  padding: 0.4rem 0;
}

.company-details {
  padding: 0.5rem;
  border: 2px solid lightsalmon;
  border-radius: 10px;
  text-align: center;
  strong {
    text-align: center;
  }
}
